@charset "utf-8";
.tb{
    
    height: 36px;
    line-height: 36px;
    background-color: #333;
    z-index: 4;
    & a:hover{
        color: #fff;
    }
  
    
}
.tb-left{
    float: left;
    overflow: hidden;
}
.tb-left-content{
    cursor: pointer;
    float: left;
    position: relative;
    & a{   
        font-size: 12px;
        height: 36px;
        line-height: 36px;
        color: #ccc;
    }
}
.tb-left-ul{  
    float: left;
    margin-left: 20px;
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    cursor: pointer;
    background: url(../images/laba.gif) center left no-repeat;
}
.tb-left-ul ul{
    position: relative;
    & li{
        padding-left: 26px;
        height: 36px;
    }
    & a{
        color: #b4a078;
        font-size: 12px;
       }
}
.tb-right{
    float: right;
    & ul{
        float: left;
    }
    & li{
        float: left;
        height: 36px;
        line-height: 36px;
        & .icon-app{

            display:inline-block;
            vertical-align: middle;
            height: 11px;
            width: 7px;
background: url(../images/logo1.png) 0 0 no-repeat;       
        }
        & .icon-jiantou{
            display: inline-block;
            height: 5px;
            width: 11px;
            margin-right: 10px;
            vertical-align: middle;
            background: url(../images/logo1.png) 0 -321px no-repeat;       
        }
       
    }
    & li::before{
        content: '';
        display: inline-block;
       
        height: 16px;
        border-left: 1px solid #5c5c5c;
        vertical-align: middle;
        
    }
    & a{
         padding:0 10px;
        font-size: 12px;
        display: inline-block;
        color: #ccc;
    }
}
.kf:hover .icon-jiantou{
    transform: rotate(180deg);
}
.tb-main{
    & .wrap{position: relative;}
}
.logobox{
 position: relative;
}
.logo{
    display: block;
    position: absolute;
    top: 50px;
    left: 455px;
    background: url(../images/logo1.png) 0 -146px no-repeat;
    height: 60px;
    width: 180px;
}
.tb-nav{
    line-height: 1;
    font-weight: 700;
    position: absolute;
    height: 30px;
    bottom: 21px;
    width: 100%;
    & li{
        float: left;
        position: relative;
        margin-top: 6px;
        padding: 0 24px;
        font-size: 14px;
        &:hover > a{
            color: #b4a078;
            border-bottom: 3px solid #b4a078;  
              display: block;
            padding-bottom: 6px;
        }
    }
    & a{
        font-family: "Microsoft Yahei",verdana;
        color: #333;
    }
}
.nav-fix{
    position: fixed;
    top:0;
    z-index: 999;
    height: 60px;
    line-height: 35px;
    background: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
}

//--------------------------- 二级导航
.jujia .icon-jiao{
    display: none;//----------------------------------------
    position: absolute;
    top: 21px;
    left: 22.5px;
    background-image: url(../images/nav.png);
    background-position: 0 -116px;
    height: 26px;
    width: 27px;
    z-index: 88;
    

}
.subnav{
    display: none;//--------------------------------------------
    width: 724px;
    position: absolute;
    top: 15px;
    left: -70px;
    right: auto;
    padding-top: 30px;
    background-color: transparent;
    z-index: 89;
    & .subnav-list{
        overflow: hidden;
        padding: 20px 40px 30px;
        background: #fff;
        box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
        & .list{
            width: 140px;
            float: left;
            margin-right: 20px;
        }
        
    }
}
.list-title{
    display: inline-block;
    max-width: 140px;
    width: 140px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
   
}
.list-rows{
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 50px;
    & a:hover span{
        color:#b4a078;
    }
}

.list-rows span{
    
        display: inline-block;
        width: 84px;
        max-width: 84px;
        max-height: 48px;
        margin-left: 0px;
        font-size: 14px;
        vertical-align: middle;
        line-height: 1.2;
        overflow: hidden;

}

.list-rows img{
    width: 50px;
    height: 50px;
    display:inline-block;
    border: 0;
    vertical-align: top;
    

}















.search{
    & input{
        position: absolute;
        right: 120px;
        top: 75px;
        z-index: 1;
        display: block;
        height: 22px;
        line-height: 22px;
        border: 0;
        border-bottom: 1px solid #D8CEBC;
        font-size: 12px;
        width: 252px;
        outline: 0;
        overflow: hidden;
        background: 0 0;
    }
    & i{
        display: block;
        background: url(../images/logo1.png) 0 -291px no-repeat;
        height: 20px;
        width: 20px;
        position: absolute;
        right: 95px;
        bottom: 105px;
    }
    &:hover i{
        background-position: 0 -261px;
    }
}
.cart{
    position: absolute;
    bottom: 105px;
    right: 50px;
    & i{
        display: block;
        background: url(../images/logo1.png) 0 -113px no-repeat;
        height: 23px;
        width: 23px;
    }
    &:hover i{
            background-position: 0 -80px;
        }
    & span{
        position: absolute;
        top: -10px;
        right: -8px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        z-index: 1;
        height: 19px;
        width: 19px;
        background: url(../images/logo1.png) 0 -51px no-repeat;
        }
}