.salewrap{
    padding-top: 58px;
}
.sale{
    & .bd{
        height: 378px;
        width: 100%;
        overflow: hidden;
    }
}
.sale-left{
    position: relative;
    height: 377px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    background: url(../images/qianggoubeijing.jpg) center center no-repeat #fff;
    & .sale-m-title{
        height: 36px;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 11px;
        color: #615548;
    }
    & .line{
        width: 20px;
        height: 2px;
        margin: 0 auto 18px;
        background: #61594b;
    }
    & .endtips{
        margin-bottom: 18px;
        font-size: 18px;
        color: #615548;
        line-height: 22px;
        height: 22px;
    }
    & .timedown{
        height: 40px;
        margin-bottom: 50px;
        text-align: center;
        & .w-cd{
            display: inline-block;
            width: 40px;
            color: #fff;
            font-size: 18px;
            line-height: 40px;
            background-color: #615548;
            border-radius: 2px;
        }
        & .colon{
            font-weight: 700;
            padding: 0 2px;
        }
    }
    & .seemore{
        display: block;
        width: 110px;
        height: 30px;
        margin: 0 auto;
        line-height: 30px;
        color: #fff;
        font-size: 14px;
        background-color: #a7936e;
        cursor: pointer;
        border-radius: 15px;
    }
    & .link{

            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            opacity: 0;
        
    }
    
}
.sale-right{
    margin-left: 224px;
    height: 378px;
    & .SaleProduct{
        float: left;
        width: 433px;
        height: 189px;
        border: 1px solid #f0ece4;
        border-left: none;
        & .lt{
            float: left;
            width: 180px;
            height: 180px;
            cursor: pointer;
            overflow: hidden;
            margin: 3px 0;
            & .picIn:hover .pic{
                transition: all 1s;
                transform: scale(1.05);
            }
        }
        & .rt{
            margin-left: 180px;
            height: 187px;
            padding-top: 14px;
            & .itemname{
                height: 26px;
                line-height: 26px;
                font-size: 16px;
                font-weight: 400;
                color: #666;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                & .link:hover{
                    color: #b4a078;
                }
            }
            & .itemDes{
                height: 24px;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #999;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            & .itemNum{
                padding: 14px 0 8px;
                height: 36px;
                & .numTip{
                    height: 14px;
                    margin-left: 162px;
                    font-size: 14px;
                    color: #999;
                    line-height: 14px;
                }
                & .numBar{
                    float: left;
                    position: relative;
                    width: 152px;
                    height: 10px;
                    margin: 2px 0;
                    border: 1px solid #f2cecd;
                    border-radius: 5px;
                    overflow: hidden;
                & .numBarIn{
                    background-color: #ffe5e5;
                    height: 10px;
                }
                }
            
            }
            & .itemPrice{
                font-size: 14px;
                line-height: 1;
                vertical-align: baseline;
                & .aPrice{
                  
                    & .yuan{
                        font-size: 18px;
                        margin-left: 4px;
                        color: #be4141;
                    }
                    & .bold{
                        margin-right: 12px;
                        vertical-align: sub;
                        font-weight: 700;
                        font-size: 24px;
                        color: #be4141;
                    }
                }
                & .oPrice{
                    color: #999;
                    & .oPriceIn{
                        text-decoration: line-through;
                        color: #999;
                    }
                }
                }
            }
            & .tobuyBtn{
                background-color: #be4141;
                color: #fff;
                &:hover{
                    background-color: #da4f4f;
                }
            }
            & .w-btn{
                display: block;
                width: 118px;
                height: 31px;
                margin-top: 18px;
                line-height: 31px;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
            }
        }
    & .SaleItem-2{
        border-top:0; 
    }
    }
