@charset "utf-8";
a{
    text-decoration: none;
}
li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    color: #333;
}
@import "header";
@import "footer";