@charset "utf-8";
a{
    text-decoration: none;
}
li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    color: #333;
}
.wrap {
    width: 1090px;
    margin: 0 auto;
}




.popularwrap {
    /* background: blueviolet; */
    /* height: 698px; */
    overflow: hidden;
}





.homewrap {
    height: 789px;

}

.expertwrap {
    height: 428px;
}



@import "header";
@import "banner";
@import "creat";
@import "newstar";
@import "popular";
@import "sale";
@import "welfare";
@import "indexgoods";
@import "expert";
@import "login";
@import "datails";
@import "footer";