@charset "utf-8";
// 图片放大公共部分（：hover）
.manufacturer:hover img{
    transform: scale(1.05);
}
// 品牌制造商公共部分
.m-head-top{
    padding-bottom: 15px;
    overflow: hidden;
    &::after{
        content: " ";
        display: table;
    }
    & > a{
        display: inline-block;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        float: right;  
        &:hover{
        color:  #b4a078;
    }
    }
   
}
.main-head-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
    & > a:hover{
        color:  #b4a078;
    }
}
.f-left{
    float: left;
}
.f-size{
    font-size: 14px;
}
.font-name{
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
}
// 新品首发公共部分
.slick-list .slick-track{
    overflow: hidden;
}
// 人气推荐公共部分