@charset "UTF-8";
a {
  text-decoration: none; }

li {
  list-style: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft Yahei","微软雅黑",verdana;
  color: #333; }

.wrap {
  width: 1090px;
  margin: 0 auto; }

.popularwrap {
  /* background: blueviolet; */
  /* height: 698px; */
  overflow: hidden; }

.homewrap {
  height: 789px; }

.expertwrap {
  height: 428px; }

.tb {
  height: 36px;
  line-height: 36px;
  background-color: #333;
  z-index: 4; }
.tb a:hover {
  color: #fff; }

.tb-left {
  float: left;
  overflow: hidden; }

.tb-left-content {
  cursor: pointer;
  float: left;
  position: relative; }
.tb-left-content a {
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  color: #ccc; }

.tb-left-ul {
  float: left;
  margin-left: 20px;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  cursor: pointer;
  background: url(../images/laba.gif) center left no-repeat; }

.tb-left-ul ul {
  position: relative; }
.tb-left-ul ul li {
  padding-left: 26px;
  height: 36px; }
.tb-left-ul ul a {
  color: #b4a078;
  font-size: 12px; }

.tb-right {
  float: right; }
.tb-right ul {
  float: left; }
.tb-right li {
  float: left;
  height: 36px;
  line-height: 36px; }
.tb-right li .icon-app {
  display: inline-block;
  vertical-align: middle;
  height: 11px;
  width: 7px;
  background: url(../images/logo1.png) 0 0 no-repeat; }
.tb-right li .icon-jiantou {
  display: inline-block;
  height: 5px;
  width: 11px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../images/logo1.png) 0 -321px no-repeat; }
.tb-right li::before {
  content: '';
  display: inline-block;
  height: 16px;
  border-left: 1px solid #5c5c5c;
  vertical-align: middle; }
.tb-right a {
  padding: 0 10px;
  font-size: 12px;
  display: inline-block;
  color: #ccc; }

.kf:hover .icon-jiantou {
  transform: rotate(180deg); }

.tb-main .wrap {
  position: relative; }

.logobox {
  position: relative; }

.logo {
  display: block;
  position: absolute;
  top: 50px;
  left: 455px;
  background: url(../images/logo1.png) 0 -146px no-repeat;
  height: 60px;
  width: 180px; }

.tb-nav {
  line-height: 1;
  font-weight: 700;
  position: absolute;
  height: 30px;
  bottom: 21px;
  width: 100%; }
.tb-nav li {
  float: left;
  position: relative;
  margin-top: 6px;
  padding: 0 24px;
  font-size: 14px; }
.tb-nav li:hover > a {
  color: #b4a078;
  border-bottom: 3px solid #b4a078;
  display: block;
  padding-bottom: 6px; }
.tb-nav a {
  font-family: "Microsoft Yahei",verdana;
  color: #333; }

.nav-fix {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 60px;
  line-height: 35px;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); }

.jujia .icon-jiao {
  display: none;
  position: absolute;
  top: 21px;
  left: 22.5px;
  background-image: url(../images/nav.png);
  background-position: 0 -116px;
  height: 26px;
  width: 27px;
  z-index: 88; }

.subnav {
  display: none;
  width: 724px;
  position: absolute;
  top: 15px;
  left: -70px;
  right: auto;
  padding-top: 30px;
  background-color: transparent;
  z-index: 89; }
.subnav .subnav-list {
  overflow: hidden;
  padding: 20px 40px 30px;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1); }
.subnav .subnav-list .list {
  width: 140px;
  float: left;
  margin-right: 20px; }

.list-title {
  display: inline-block;
  max-width: 140px;
  width: 140px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
  border-bottom: 1px solid #ddd; }

.list-rows {
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 50px; }
.list-rows a:hover span {
  color: #b4a078; }

.list-rows span {
  display: inline-block;
  width: 84px;
  max-width: 84px;
  max-height: 48px;
  margin-left: 0px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1.2;
  overflow: hidden; }

.list-rows img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 0;
  vertical-align: top; }

.search input {
  position: absolute;
  right: 120px;
  top: 75px;
  z-index: 1;
  display: block;
  height: 22px;
  line-height: 22px;
  border: 0;
  border-bottom: 1px solid #D8CEBC;
  font-size: 12px;
  width: 252px;
  outline: 0;
  overflow: hidden;
  background: 0 0; }
.search i {
  display: block;
  background: url(../images/logo1.png) 0 -291px no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 95px;
  bottom: 105px; }
.search:hover i {
  background-position: 0 -261px; }

.cart {
  position: absolute;
  bottom: 105px;
  right: 50px; }
.cart i {
  display: block;
  background: url(../images/logo1.png) 0 -113px no-repeat;
  height: 23px;
  width: 23px; }
.cart:hover i {
  background-position: 0 -80px; }
.cart span {
  position: absolute;
  top: -10px;
  right: -8px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  z-index: 1;
  height: 19px;
  width: 19px;
  background: url(../images/logo1.png) 0 -51px no-repeat; }

.banner {
  width: 100%;
  height: 420px !important;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative; }

.banner img {
  display: block;
  height: 420px !important;
  position: absolute;
  left: -280px; }

.banner ul li {
  opacity: 1;
  transition: all 0.8s; }

.banner ol {
  position: absolute;
  right: 50%;
  margin-right: -112px;
  bottom: 10px; }

.banner ol li {
  float: left;
  width: 10px;
  height: 10px;
  border: 1px solid #cecece;
  border-radius: 50%;
  background: #fff;
  margin-right: 15px;
  text-indent: -99em;
  cursor: pointer; }

.banner ol li.active {
  box-shadow: 0 0 0 4px #dfcead;
  background: #a7936e; }

.banner > a {
  display: block;
  position: absolute;
  z-index: 9;
  top: 200px !important;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 80;
  background-color: #D0C4AF;
  border-radius: 50%; }

.leftbtn:hover, .rightbtn:hover {
  background-color: #B19E7A; }

.banner .leftbtn {
  left: 100px;
  background-image: url(../images/xiaotubiao.png);
  background-position: 0 -4984px; }

.banner .rightbtn {
  right: 100px;
  background-image: url(../images/xiaotubiao.png);
  background-position: 0 -5164px; }

.meunlits {
  overflow: hidden; }

.manufacturer {
  width: 357px;
  float: left;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  text-align: center; }
.manufacturer .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
.manufacturer img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  transition: transform 1s;
  z-index: 1; }
.manufacturer .price {
  font-size: 14px;
  padding-top: 17px;
  display: inline-block;
  width: auto;
  border-top: 1px solid #666;
  position: relative;
  z-index: 3;
  color: #666; }

.GC-top {
  padding-bottom: 58px; }
.GC-top::after {
  content: " ";
  display: table; }
.GC-top > a {
  display: inline-block;
  line-height: 1;
  margin-left: 30px;
  padding-top: 14px;
  float: right; }
.GC-top > a:hover {
  color: #b4a078; }

.name {
  position: relative;
  font-size: 24px;
  margin: 48px 0 19px;
  line-height: 1;
  border-right: 0;
  border-left: 0;
  z-index: 3;
  color: #666; }
.name span {
  font-size: 24px;
  color: #666; }
.name .newShelfTag {
  position: absolute;
  top: -3px;
  font-size: 11px;
  margin-left: 2px;
  text-align: center;
  line-height: 19px;
  width: 32px;
  height: 21px;
  color: #fff;
  background: url(../images/shangxinbg.png) 0 0 no-repeat; }

.large {
  height: 320px; }

.first {
  margin-left: 0; }

.last {
  margin-top: 10px; }

.middle {
  width: 357px;
  margin-left: 9px !important; }

.small {
  height: 155px; }
.small .name {
  font-size: 20px;
  margin: 32px 0 10px 20px;
  text-align: left; }
.small .price {
  padding-top: 10px;
  margin-left: 20px;
  float: left; }

.newstar {
  height: 510px;
  padding-top: 60px;
  position: relative; }

.slickWidth {
  width: 1090px;
  overflow: hidden; }
.slickWidth .m-newItemSlick {
  width: 1100px; }

.m-product {
  line-height: 1;
  text-align: center;
  font-size: 13px;
  width: 245px;
  height: 100%;
  position: relative; }
.m-product:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f0ea; }
.m-product:hover .img {
  display: none !important; }
.m-product:hover .colorNum {
  display: none; }

.hd .colorNum {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  font-size: 12px;
  color: #a7936e;
  border: 1px solid #b3a07d;
  border-radius: 5px;
  padding: 0 4px;
  line-height: 18px;
  background-color: #f4f0ea; }

.new-name {
  margin-bottom: 4px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px; }
.new-name > a:hover span {
  color: #b4a078; }

.imgScene {
  background: #f4f4f4;
  display: inline !important; }

.hd {
  margin-bottom: 8px;
  height: 256px;
  background-color: transparent;
  overflow: hidden; }

.imgWrap {
  display: block; }

.bd .prdtTags {
  height: 20px;
  width: 200px;
  margin: 0 auto 3px;
  overflow: hidden; }
.bd .prdtTags span {
  display: inline-block;
  color: #fff;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  margin-left: 5px;
  background-color: #e36844; }
.bd .prdtTags .hot {
  background: #F28F2D; }

.itemList {
  overflow: hidden; }

.slick-slide {
  float: left;
  margin-right: 30px; }

.slick-left, .slick-right {
  position: absolute;
  background-color: #E7E2D7;
  z-index: 9;
  top: 200px !important;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 500px;
  background-image: url(../images/xiaotubiao.png);
  background-repeat: no-repeat; }

.slick-left {
  left: 60px;
  background-position: 0 -4984px; }

.slick-right {
  right: 70px;
  background-position: 0 -5164px; }

.price {
  font-size: 13px;
  line-height: 13px;
  color: #d4282d;
  padding: 1px 0 9px;
  margin: 0; }
.price .retailPrice {
  color: #d4282d; }
.price .counterPrice {
  text-decoration: line-through;
  font-size: 12px;
  color: #999;
  top: 2px; }
.price .tagName {
  border-left: 1px solid #999;
  padding-left: 10px;
  margin-left: 7px;
  line-height: 13px;
  height: 13px;
  display: inline-block;
  overflow: hidden; }
.price .tagName > a {
  color: #999; }

.popular {
  padding: 60px 0;
  background: #f4f0ea; }

.f-left ul {
  float: left; }

.item {
  float: left;
  text-align: center;
  font-size: 14px;
  width: 70px;
  height: 28px;
  line-height: 28px;
  margin-right: 55px;
  position: relative;
  z-index: 2;
  cursor: pointer; }
.item a:hover {
  color: #b4a078; }

.active.item {
  border-bottom: 2px solid #b4a078; }
.active.item a {
  color: #b4a078; }

.popularitem {
  position: relative;
  background-color: #fff;
  width: 223px;
  height: 260px;
  float: left;
  margin-left: 10px;
  text-align: center; }
.popularitem .prdtTags .itemTag {
  font-size: 12px; }
.popularitem:hover .img {
  transition: all 1s;
  transform: scale(1.05); }

.popularitem-down {
  margin-top: 10px; }

.m-popular {
  width: 390px;
  height: 530px;
  margin-left: 0; }
.m-popular .img {
  width: 320px;
  height: 320px;
  margin: 40px 35px; }
.m-popular .hd {
  height: 405px;
  margin-bottom: 18px;
  background: 0 0;
  border-bottom: 1px solid #F4F0EA; }
.m-popular .bd .new-name a span {
  font-size: 18px; }
.m-popular .retailPrice {
  font-size: 18px;
  line-height: 40px; }

.m-popular-small .hd {
  height: 175px;
  margin-bottom: 18px;
  background: 0 0;
  border-bottom: 1px solid #F4F0EA; }
.m-popular-small .bd .new-name a span {
  font-size: 13px; }

.salewrap {
  padding-top: 58px; }

.sale .bd {
  height: 378px;
  width: 100%;
  overflow: hidden; }

.sale-left {
  position: relative;
  height: 377px;
  width: 224px;
  padding-top: 60px;
  float: left;
  text-align: center;
  background: url(../images/qianggoubeijing.jpg) center center no-repeat #fff; }
.sale-left .sale-m-title {
  height: 36px;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 11px;
  color: #615548; }
.sale-left .line {
  width: 20px;
  height: 2px;
  margin: 0 auto 18px;
  background: #61594b; }
.sale-left .endtips {
  margin-bottom: 18px;
  font-size: 18px;
  color: #615548;
  line-height: 22px;
  height: 22px; }
.sale-left .timedown {
  height: 40px;
  margin-bottom: 50px;
  text-align: center; }
.sale-left .timedown .w-cd {
  display: inline-block;
  width: 40px;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  background-color: #615548;
  border-radius: 2px; }
.sale-left .timedown .colon {
  font-weight: 700;
  padding: 0 2px; }
.sale-left .seemore {
  display: block;
  width: 110px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  background-color: #a7936e;
  cursor: pointer;
  border-radius: 15px; }
.sale-left .link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 0; }

.sale-right {
  margin-left: 224px;
  height: 378px; }
.sale-right .SaleProduct {
  float: left;
  width: 433px;
  height: 189px;
  border: 1px solid #f0ece4;
  border-left: none; }
.sale-right .SaleProduct .lt {
  float: left;
  width: 180px;
  height: 180px;
  cursor: pointer;
  overflow: hidden;
  margin: 3px 0; }
.sale-right .SaleProduct .lt .picIn:hover .pic {
  transition: all 1s;
  transform: scale(1.05); }
.sale-right .SaleProduct .rt {
  margin-left: 180px;
  height: 187px;
  padding-top: 14px; }
.sale-right .SaleProduct .rt .itemname {
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.sale-right .SaleProduct .rt .itemname .link:hover {
  color: #b4a078; }
.sale-right .SaleProduct .rt .itemDes {
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.sale-right .SaleProduct .rt .itemNum {
  padding: 14px 0 8px;
  height: 36px; }
.sale-right .SaleProduct .rt .itemNum .numTip {
  height: 14px;
  margin-left: 162px;
  font-size: 14px;
  color: #999;
  line-height: 14px; }
.sale-right .SaleProduct .rt .itemNum .numBar {
  float: left;
  position: relative;
  width: 152px;
  height: 10px;
  margin: 2px 0;
  border: 1px solid #f2cecd;
  border-radius: 5px;
  overflow: hidden; }
.sale-right .SaleProduct .rt .itemNum .numBar .numBarIn {
  background-color: #ffe5e5;
  height: 10px; }
.sale-right .SaleProduct .rt .itemPrice {
  font-size: 14px;
  line-height: 1;
  vertical-align: baseline; }
.sale-right .SaleProduct .rt .itemPrice .aPrice .yuan {
  font-size: 18px;
  margin-left: 4px;
  color: #be4141; }
.sale-right .SaleProduct .rt .itemPrice .aPrice .bold {
  margin-right: 12px;
  vertical-align: sub;
  font-weight: 700;
  font-size: 24px;
  color: #be4141; }
.sale-right .SaleProduct .rt .itemPrice .oPrice {
  color: #999; }
.sale-right .SaleProduct .rt .itemPrice .oPrice .oPriceIn {
  text-decoration: line-through;
  color: #999; }
.sale-right .SaleProduct .tobuyBtn {
  background-color: #be4141;
  color: #fff; }
.sale-right .SaleProduct .tobuyBtn:hover {
  background-color: #da4f4f; }
.sale-right .SaleProduct .w-btn {
  display: block;
  width: 118px;
  height: 31px;
  margin-top: 18px;
  line-height: 31px;
  text-align: center;
  font-size: 16px;
  cursor: pointer; }
.sale-right .SaleItem-2 {
  border-top: 0; }

.welfare {
  margin-top: 60px;
  padding: 54px 0 52px;
  height: 526px;
  background-color: #f4f0ea; }

.indexgoods {
  margin-top: 60px; }

.homebanner {
  margin-bottom: 20px; }

.itemlist {
  margin-left: -10px; }
.itemlist .list {
  float: left;
  margin: 0 10px 50px 0;
  width: 265px; }

.expert {
  padding-bottom: 80px; }

.m-expert {
  float: left;
  margin-left: 10px; }
.m-expert .frist {
  margin-left: 0;
  width: 690px; }
.m-expert .small {
  width: 390px; }

.Last {
  margin-top: 40px; }

.bg-banner {
  width: 100%;
  height: 600px;
  background: center no-repeat; }

.m-loginbox {
  padding-top: 83px;
  margin-left: 703px;
  width: 386px;
  height: 458px; }
.m-loginbox .m-loginbox-l {
  width: 386px;
  height: 458px;
  background: #fff;
  border: 1px solid #F5F3EF;
  position: relative; }

.login-head {
  position: absolute;
  overflow: hidden;
  padding: 30px 0 10px;
  left: 45px;
  font-size: 18px; }

.yx-split {
  width: 1px;
  height: 20px;
  background: #ddd;
  margin-left: 55px; }

.headTitle-1 {
  margin-left: 10px;
  color: #333;
  cursor: pointer; }

.headTitle-2 {
  margin-left: 55px;
  cursor: pointer;
  color: #999; }
.headTitle-2:hover {
  color: #B4A078; }

.yx-l-left {
  float: left; }

.m-cnt {
  width: 300px;
  height: 260px;
  margin: 70px auto;
  padding: 0;
  padding-top: 10px; }
.m-cnt .inputbox {
  overflow: hidden; }
.m-cnt .inputbox .login {
  float: left;
  width: 298px !important;
  border: 1px solid #e8e8e8;
  line-height: 36px;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  width: 214px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 30px;
  color: #333;
  overflow: hidden; }
.m-cnt .inputbox .reginput {
  float: left;
  width: 200px !important;
  border: 1px solid #e8e8e8;
  line-height: 36px;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  width: 214px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 30px;
  color: #333;
  overflow: hidden; }

.f-cb {
  margin-top: 40px; }
.f-cb #submitBtn {
  display: block;
  width: 100%;
  height: 48px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #b4a078;
  font-size: 18px;
  line-height: 48px;
  border-radius: 2px;
  border: 0; }

.reg {
  font-size: 13px;
  color: #999;
  float: right;
  padding-top: 10px; }
.reg a:hover {
  color: #b4a078; }

.detailHD {
  overflow: hidden; }

.m-slide {
  float: left;
  width: 524px;
  overflow: hidden; }

.m-slide .view {
  position: relative;
  float: left;
  width: 430px;
  height: 430px;
  border: 1px solid #e8e8e8;
  margin-right: 16px; }

.m-slide .view img {
  display: block;
  width: 428px;
  height: 428px;
  background-color: #f4f4f4; }

.detailist {
  float: right;
  overflow: hidden; }
.detailist li {
  zoom: 1;
  width: 78px;
  height: 78px;
  overflow: hidden;
  margin-bottom: 10px;
  vertical-align: top; }
.detailist li > a {
  display: block;
  width: 78px;
  height: 78px;
  border: 1px solid #e8e8e8; }

.m-info {
  float: right;
  width: 566px;
  padding-left: 62px;
  word-break: break-all;
  word-wrap: break-word;
  position: relative; }
.m-info hr {
  margin: 10px 20px 10px 10px;
  overflow: hidden;
  border: none;
  height: 1px;
  border-bottom: 1px dashed #d2d2d2; }

.m-info .intro {
  overflow: hidden;
  margin-bottom: 20px; }
.m-info .intro .detailTag {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px; }
.m-info .intro .detailTag .newTag {
  line-height: 18px;
  float: left;
  margin-right: 10px;
  background-color: #b4a078;
  border: 1px solid #b4a078;
  border: 1px solid rgba(180, 160, 120, 0.3);
  height: 20px;
  line-height: 20px;
  color: #fff;
  padding: 0 5px;
  font-size: 12px; }

.detailname {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
  position: relative; }
.detailname > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px; }

.desc {
  width: 300px;
  font-size: 14px;
  line-height: 20px;
  color: #999; }

.u-price {
  background-color: #f5f3ef;
  border-top: 1px dotted #dedede;
  border-bottom: 1px dotted #dedede;
  padding: 0 0 13px;
  line-height: 24px;
  font-size: 13px;
  position: relative;
  overflow: hidden; }

.pBox {
  height: 45px;
  margin-bottom: 5px;
  overflow: hidden; }

.field {
  margin-bottom: 3px; }

.label {
  width: 55px;
  font-size: 13px;
  float: left;
  color: #666;
  margin-left: 10px; }

.label-1 {
  line-height: 30px; }

.label-2 {
  line-height: 28px; }

.rp {
  font-size: 18px;
  font-weight: 700;
  margin-right: 1px;
  margin-top: 13px;
  margin-left: 0;
  height: 30px; }
.rp .rmb {
  margin-left: 0;
  line-height: 30px;
  color: #d7282d;
  font-size: 18px; }
.rp .rp-num {
  font-size: 28px;
  line-height: 30px;
  margin-left: 2px;
  color: #d7282d; }

.sale {
  margin-top: 2px; }

.saleLine {
  margin-left: 65px;
  height: 28px; }

.activityType {
  position: relative;
  margin-right: 10px;
  font-size: 12px;
  left: 0;
  top: -1px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #fff;
  padding: 0 5px;
  background-color: #e36844; }

.pointCt {
  color: #666; }

.policyBox {
  margin-left: 65px;
  padding-top: 2px;
  line-height: 20px;
  width: 401px; }
.policyBox > span {
  color: #666; }

.server {
  margin-top: 1px;
  float: left; }

.f-t {
  padding-top: 60px;
  padding-bottom: 34px;
  height: 299px;
  border-top: 1px solid #e8e8e8; }

.f-t-left, .f-t-main-t, .f-t-right {
  width: 33.33333%;
  height: 204px;
  float: left;
  border-left: 1px solid #e9e9e9;
  text-align: center; }
.f-t-left h4, .f-t-main-t h4, .f-t-right h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1; }
.f-t-left span, .f-t-main-t span, .f-t-right span {
  display: block;
  margin-top: 10px;
  color: #333; }
.f-t-left span:hover, .f-t-main-t span:hover, .f-t-right span:hover {
  color: #b4a078; }

.f-t-left a {
  display: inline-block;
  width: 80px;
  height: 100px;
  font-size: 14px;
  background-color: #fff;
  padding-top: 25px;
  border: 1px solid #E8E8E8;
  line-height: 26px;
  margin: 0 10px; }

.icon-left {
  background: url(../images/footer1.png) 0 -232px no-repeat; }
.icon-left:hover {
  background-position: 0 -196px; }

.icon-right {
  background: url(../images/footer1.png) 0 -98px no-repeat; }
.icon-right:hover {
  background-position: 0 -61px; }

.icon-right, .icon-left {
  display: block;
  height: 26px;
  width: 31px;
  margin-left: 25px; }

.f-t-main-t {
  position: relative;
  padding: 0 37px;
  text-align: center;
  line-height: 1; }
.f-t-main-t p {
  text-align: left;
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 22px; }
.f-t-main-t span {
  margin-right: 15px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 32px;
  float: left; }
.f-t-main-t i {
  display: block;
  height: 32px;
  width: 32px;
  float: left;
  padding: 0 24px;
  margin-top: 10px;
  background-image: url(../images/footer1.png); }

.erweima {
  position: absolute;
  display: none;
  top: 178px;
  left: 77px;
  width: 123px;
  padding-top: 5px; }
.erweima .ewmbox {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2); }
.erweima .ewmbox b {
  display: block;
  position: absolute;
  top: -7px;
  right: 0;
  left: 0;
  height: 7px;
  width: 12px;
  background: url(../images/logo1.png) 0 -336px no-repeat;
  margin: auto; }

.icon-yx {
  background-position: 0 -413px; }

.icon-yx:hover .erweima {
  display: block; }

.icon-wx {
  background-position: 0 -371px; }

.icon-wx:hover .erweima {
  display: block;
  left: 125px; }

.icon-xl {
  background-position: 0 -268px; }

.f-t-right p {
  color: #b4a078;
  font-size: 12px;
  margin-top: 3px; }

.f-b {
  height: 204px;
  padding-top: 37px;
  background-color: #414141; }

.f-b-top {
  overflow: hidden;
  margin-bottom: 30px !important; }
.f-b-top li {
  float: left;
  width: 33.333333%;
  text-align: center; }
.f-b-top li p {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 51px; }
.f-b-top li i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  height: 51px;
  width: 51px;
  background-image: url(../images/footer1.png); }

.wuyou {
  background-position: 0 -310px; }

.mianyou {
  background-position: 0 0; }

.bz {
  background-position: 0 -135px; }

.hr {
  height: 1px;
  margin-bottom: 27px;
  background-color: #4f4f4f;
  border: 0; }

.footer-nav {
  text-align: center; }
.footer-nav a {
  font-size: 12px;
  color: #999; }
.footer-nav b {
  margin: auto 13px;
  color: #999;
  font-weight: bold; }

.f-b-bot {
  position: relative; }

.f-b-bot p {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 5px; }
.f-b-bot p a {
  font-size: 12px;
  color: #999; }

.f-b-bot > a {
  display: block;
  width: 36px;
  position: absolute;
  right: 74px;
  top: -4px; }
.f-b-bot > a img {
  width: 100%; }

/*# sourceMappingURL=index.css.map */
